SERVICE_NAME=service_name
SERVICE_PORT=1686
TIMEZONE=Asia/Jakarta

DB_HOST=db_host
DB_PORT=1687
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name

# info | error
DB_LOG_LEVEL=info
# debug | info | warn | error | fatal | panic
LOG_LEVEL=info

AUTHORIZATION_ENABLED=true
JWT_SECRET=jwt_secret
ACCESS_TOKEN_EXPIRATION=10